<h1>Editar Transação</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.transaction_path(@conn, :update, @transaction)) %>

<span><%= link "Voltar", to: Routes.transaction_path(@conn, :index) %></span>
